:root {
    --primary-color: burlywood;
}

h1 {
    color: var(--primary-color);;
    font-family: "Ewert";
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

img {
    border: 5px dashed var(--primary-color);;
}


.list_one ol{
    list-style-type: upper-roman;
}


span {
    color: brown;
    font-style: italic;
}

.main-choice {
    color: green;
}

.initial {
    border: thick double black;
    text-align: center;
    justify-content: center;
    padding: 20px;
}

.main {
    padding: 20px;
    border: thick dashed black;
    margin: 10px
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid black;
    text-align: left;
    padding: 5px;
}

thead {
    background-color: yellowgreen;
}

tfoot {
    background-color: cadetblue;
}


.class_schedule {
    margin: 20px;
    padding: 20px;
    justify-content: center;
    text-align: center;
}

#sched {
    font-size: xx-large;
}

.social {
    justify-content: center;
}

.social-img {
    margin-top: 20px;
    width: 50px;
    height: 50px;
    border: none;
    margin-right: 30px;
}

.social:hover + .hover-hide {
    display: block;
    color:red;
}

.hover-hide {
    display: none;
}

.ball {
    width: 20px;
    height: 20px;
    background-color: var(--primary-color);;
    border-radius: 30%;
    position: relative;
    animation: move-across 10s linear infinite alternate;
    margin: 30px;
}

@keyframes move-across {
    from {
        left: 0;
    }
    to {
        left: calc(100% - 50px);
    }
}

footer {
    text-align: center;
    padding: 50px;
    margin-top: 30px;
    background-color: var(--primary-color);
}

.classlinks:visited {
    color: red;
}

.classlinks:active {
    color:aqua;
}

.classlinks:hover {
    color: green;
}